$mainWidth: 1024px;
$sectionWidth: 800px;
$sectionMargin: 0 auto 75px auto;
$sectionPadding: 50px 0;
$mainTitleMargin: 0 auto 45px auto;
$subTitleMargin: 0 0 25px 0;

// html {
//   box-sizing: border-box;
// }
// *, *:before, *:after {
//   box-sizing: inherit;
// }

// #ss_campaign {

  // cf7 confirm
  .wpcf7c-conf {
    background-color: #eeeeee!important;
  }

  /*============
  nav
  =============*/
  nav {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 200px!important;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 3;
    opacity: 0;
  }
  .open nav {
    left: 0;
    opacity: 1;
  }
  nav .inner {
    padding: 25px 10px;
  }
  nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav .inner ul li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #333;
  }
  nav .inner ul li a {
    display: block;
    color: #333;
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  nav .inner ul li a:hover {
    background: #e4e4e4;
  }
  @media screen and (max-width: 767px) {
    nav {
      left: -220px;
      width: 220px;
    }
  }
  /*============
  .toggle_btn
  =============*/
  .toggle_btn {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 3;
  }
  .toggle_btn span {
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all .5s;
  }
  .toggle_btn span:nth-child(1) {
    top: 4px;
  }
  .toggle_btn span:nth-child(2) {
    top: 14px;
  }
  .toggle_btn span:nth-child(3) {
    bottom: 4px;
  }
  .open .toggle_btn span {
    background-color: #fff;
  }
  .open .toggle_btn span:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(-315deg);
    transform: translateY(10px) rotate(-315deg);
  }
  .open .toggle_btn span:nth-child(2) {
    opacity: 0;
  }
  .open .toggle_btn span:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(315deg);
    transform: translateY(-10px) rotate(315deg);
  }
  /*============
  #mask
  =============*/
  #mask {
    display: none;
    transition: all .5s;
  }
  .open #mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 2;
    cursor: pointer;
  }

  // ここからアコーディオン

  .accordion-item{
  width: 100%;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
  }

  .accordion-header{
  transition: ease-in-out 100ms;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  }

  .accordion-text{
    margin: 10px 0;
    padding: 20px 0;
    border-bottom: 1px solid #000;
    display: none;
    h3 {
      font-size: 1.1em;
      margin-top: 20px;
    }
    p {
      font-size: .8em;
    }
  }

  .fa{
    transition: ease-in-out 300ms;
  }

  .rotate-fa{
    transform: rotate(180deg);
  }


  .accordion-header .fa{
    line-height: 35px;
  }

  .accordion-no-bar{
    border-bottom: 0;
  }

  // ここからメイン

  th,
  td {
    margin-bottom: 20px;
    vertical-align: top;
  }

  button, input, select, textarea {
    border: 1px solid silver;
    background-color: #fff;
    border-radius: 4px;
    margin-left: 270px;
    max-width: 385px;
  }

  @mixin flex($justify:space-between,$align:center) {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: $justify;
    -webkit-box-pack: $justify;
    -ms-flex-pack: $justify;
    align-items: $align;
    -webkit-box-align: $align;
    -ms-flex-align: $align;
  }

  header {
    width: $mainWidth;
    margin: 0 auto;
    position: relative;
    height: 83px;
    background-color: #ffffff;
    h1 {
      position: absolute;
      top: 10px;
      left: 5px;
      bottom: 10px;
      width: 271px;
      height: auto;
      margin: 0;
    }
    .nav {
      position: absolute;
      top: 0;
      right: 0;
      width: 157px;
      height: auto;
    }
  }

  main {
    width: $mainWidth;
    margin: 0 auto;
  }

  p {
    line-height: 2;
    font-weight: 600;
    span {
      color: #ff4f8b;
    }
  }

  a:hover {
    opacity: 0.8;
  }

  img {
    max-width: 100%;
  }

  li {
    line-height: 2;
    font-weight: 600;
  }

  section {
    width: $sectionWidth;
    margin: $sectionMargin;
    padding: $sectionPadding;
  }

  .subTitle {
    margin: $subTitleMargin;
    background: url('../img/ss/namisen.png') no-repeat center bottom;
    padding-bottom: 10px;
    color: #00adff;
    font-size: 1.5em;
    text-align: center;
  }

  .mainTitle {
    margin: $mainTitleMargin;
    text-align: center;
    color: #3d528f;
    font-size: 1.3em;
    font-weight: 900;
    max-width: 320px;
    padding: 5px;
    border: 3px solid #3d528f;
    border-radius: 30px;
  }

  .centering {
    text-align: center;
  }

  .space {
    margin-bottom: 50px;
  }

  .colorPink {
    margin: $subTitleMargin;
    padding: 0 30px;
    color: #ff4f8b;
    font-size: 1.3em;
    text-align: center;
  }

  .miniText {
    font-size: 10px;
  }

  #NAV {
    margin: 45px auto 80px auto;
    padding: 0;
  }

  .list {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item {
      width: calc((100% - 40px) / 5);
      min-height: 72px; // ２行目から高さが低いのは不恰好なので、最低限の高さを設定
      margin-bottom: 20px;
      display: flex; // align-items: stretchを使うためにdisplay:flexを設定する
      align-items: stretch;
      border-right: 2px solid #3d528f;
      text-align: center;
      &:first-child {
        border-left: 2px solid #3d528f;
      }
      &__link {
        color:#3d528f;
        font-weight: 900;
        line-height: 1.5;
        text-decoration: none;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          color: #00adff;
          transition: all 0.15s;
        }
      }
    }
  }

  #ABOUT {
    padding-top: 0;
    .aboutTitle {
      max-width: 531px;
      margin: 0 auto 20px auto;
    }
    .aboutDescription {
      padding: 0 45px 45px 45px;
    }
    .object__container {
      margin: 25px auto;
      @include flex($align: top);
      &__item:first-child {
        flex-basis: 57%;
        ul {
          list-style-type: none;
          li {
            font-size: 10px;
            margin-left: 30px;
          }
        } 
      }
      &__item:last-child {
        flex-basis: 41.5%;
      }
    }
  }

  .cvImage {
    max-width: 320px;
    margin: 45px auto 0 auto;
  }

  #OTOKU {
    position: relative;
    background: url('../img/ss/otoku_bg.png') no-repeat;
    background-size: 100% 100%;
    padding: 50px;
    .ribbon {
      position: absolute;
      top: -50px;
      left: -40px;
    }
    h5 {
      margin-top: 50px;
      color: #3d528f;
      font-size: 1.1em;
      font-weight: 900;
      span {
        padding: 4px 10px;
        background-color: #3d528f;
        color: #fff;
        margin-right: 10px;
        border-radius: 5px;
      }
    }
    .sample1 {
      margin-top: 30px;
      margin-bottom: 50px;
    }
  }

  #MESSAGE {
    h3 {
      font-size: 1.5em;
      font-weight: 900;
      line-height: 2;
      text-align: center;
      margin-bottom: 40px;
    }
    ul {
      margin: 40px 0 40px 20px;
      line-height: 2;
    }
  }

  #RYOTEI {
    ol {
      margin-left: 20px;
    }
  }

  #CONTACT {
    background-color: #f9f8e3;
    padding: 30px 60px;
  }

  .contact_desc_section {
    margin-bottom: 0;
    padding: 10px 0 30px;
    p {
      font-weight: 900;
      text-align: center;
      padding: 0 25px;
      .hissu {
        color: red;
      }
    }
  }

  .contact_title {
    margin-top: 0;  
  }

  .contact_table {
    tr {
      font-size: .9em;
      padding-bottom: 20px;
      th {
        text-align: left;
        padding-bottom: 20px;
        width: 45%;
        margin-right: 5%;
        .hissu {
          color: red;
        }
        span {
          font-size: .8em;
        }
      }
      td {
        padding-bottom: 20px;
        width: 50%;
        ul {
          list-style-type: none;
          @include flex();
        }
        .wpcf7-form-control-wrap.text-984,
        .wpcf7-form-control-wrap.text-102 {
          input[type="text"] {
            width: 70%;
          }
        }
      }
      td.td_sonota {
        padding-left: 15px;
      }
    }
    input[type="text"], input[type="email"], select, textarea {
      width: 100%;
      padding: 2px 2px 2px 4px;
    }
  }

  .doui {
    width: 70%;
    margin: 30px auto;
    font-size: 1em;
    font-weight: bold;
    line-height: 2;
    text-align: center;
  }

  .doui_check {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    span {
      color: #000;
    }
  }

  .wpcf7-confirm,
  .wpcf7-back,
  .wpcf7-submit {
    margin-top: 20px;
    background-color: #00adff;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px 30px;
  }

  .wpcf7-back {
    background-color: silver;
  }

  .wpcf7-submit {
    background-color: blue;
  }

  .back_submit {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 0 auto;
  }

  .thanks_title {
    margin-bottom: 40px;
  }

  .to_top {
    margin-top: 40px;
  }

  .footer {
    padding: 20px 0;
  }

  @media screen and (max-width: 768px) { 
    .pc {
      display: none;
    }
    header,
    main,
    section { 
      width: 100%;
    }
    header {
      position: static;
      height: 48px;
      h1 {
        position: static;
        margin-left: 10px;
        width: 135px;
        height: 48px;
        img {
          margin-top: 10px;
        }
      }
      .nav {
        float: right;
        width: 91px;
        height: 48px;
        position: absolute;
      }
    }
    .toggle_btn {
      position: absolute;
      top: 12px;
      right: 110px;
    }
    section {
      padding: 0 25px;
    }
    .subTitle {
      margin: $subTitleMargin;
      padding-bottom: 10px;
      font-size: 1.2em;
    }
    
    .mainTitle {
      margin: $mainTitleMargin;
      text-align: center;
      font-size: 1.1em;
      max-width: 320px;
      padding: 5px;
      border-radius: 30px;
    }
    .colorPink {
      margin: $subTitleMargin;
      padding: 0;
      font-size: 1.1em;
      text-align: left;
    }
    #NAV {
      display: none;
    }
    #ABOUT {
      .aboutTitle {
        width: 70vw;
        margin: 20px auto 10px 15px;    
      }
      .aboutDescription {
        padding: 0 0 20px 0;
      }
      .object__container {
        display: block;
        &__item:first-child {
          margin-bottom: 20px;
        }
      }
    }
    .otoku_outer {
      padding: 25px 0;
    }
    #OTOKU {
      background: url('../img/ss/otoku_bg_sp.png') no-repeat;
      padding: 100px 20px 40px 20px;
      .ribbon {
        top: 0px;
        left: -30px;
        width: 205px;
      }
      h5 {
        margin-top: 50px;
        font-size: 1em;
        span {
          padding: 4px 10px;
          margin-right: 10px;
          border-radius: 5px;
        }
      }
    }
    #MESSAGE {
      h3 {
        font-size: 1.3em;
        line-height: 1.6;
        text-align: left;
      }
    }

    #CONTACT {
      padding: 30px 25px;
    }

    .contact_desc_section {
      margin-bottom: 0;
      padding: 20px 0;
    }

    .contact_title {
      margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 0;
      line-height: 0;
    }

    .contact_table {
      tr {
        th,
        td {
          display: block;
          width: 320px;
          margin-right: 0;
          padding-bottom: 0;
        }
        th {
          margin-bottom: 5px;
        }
      }
      button, input, select, textarea {
        width: 100%;
      }
    }
  }

  @media screen and (min-width: 768px) { 
    .sp {
      display: none;
    }
  }

// }